# Python Data Structures and Boolean

In [1]:
print(True,False,True,False)

True False

In [2]:
type(True)

bool

In [3]:
#Inbult string functions
name="Solomon"

In [4]:
print(name.isalnum())
print(name.isdigit())
print(name.isalpha())
print(name.isspace())
print(name.istitle())
print(name.endswith('n'))
print(name.startswith('o'))
print(name.isupper())  
print(name.islower())

True
False
True
False
True
True
False
False
False

# Boolean and Logical Operators

In [5]:
name.isalpha() or name.istitle()

True

In [6]:
name.isalpha() and name.istitle()

True

# Lists
* Is a mutable or changeable ordered sequence of elements

In [31]:
test=[]

In [32]:
type(test)

list

In [8]:
test1=["Solomon", "Basket", "School",1,2,34,5,6]

In [9]:
##List Methods
len(test1)

8

In [10]:
test1.append("append")

In [41]:
test1

['Solomon', 'Basket', 'School', 1, 2, 34, 5, 6, 'ggo']

In [48]:
test1[3]

'School'

In [49]:
test1[1:4]

['Basket', 'insert', 'School']

In [44]:
test1.insert(2,"insert")

In [45]:
test1

['Solomon', 'Basket', 'insert', 'School', 1, 2, 34, 5, 6, 'ggo']

# Extend

In [50]:
test1.extend([1,45,56,67,'Extend'])

In [51]:
test1

['Solomon',
 'Basket',
 'insert',
 'School',
 1,
 2,
 34,
 5,
 6,
 'ggo',
 1,
 45,
 56,
 67,
 'Extend']

# List Operations

In [54]:
sum(test1[4:6])

3

In [55]:
test1.pop()  # Shows the value been removed as results

'Extend'

In [57]:
test1  # element removed

['Solomon', 'Basket', 'insert', 'School', 1, 2, 34, 5, 6, 'ggo', 1, 45, 56, 67]

In [58]:
test1.pop(0)

'Solomon'

In [61]:
test1.count(2)  # Counnt the element been passed as argument in the list. Example below counts the number 2 in the list

1

In [60]:
count(test1)

NameError: name 'count' is not defined

In [63]:
test1*2

['Basket',
 'insert',
 'School',
 1,
 2,
 34,
 5,
 6,
 'ggo',
 1,
 45,
 56,
 67,
 'Basket',
 'insert',
 'School',
 1,
 2,
 34,
 5,
 6,
 'ggo',
 1,
 45,
 56,
 67]