List Comprehension
* Provides a Concise Way to Create lists

In [9]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [10]:
lst_square([88,77,99,88])

[7744, 5929, 9801, 7744]

In [12]:
# Using List Comprehension
lst=[88,77,99,88]
[ i*i for i in lst]

[7744, 5929, 9801, 7744]

In [14]:
#usng map function for same
def sq(i):
    return (i*i)

In [15]:
list(map(sq,lst))

[7744, 5929, 9801, 7744]

In [19]:
[i*i for i in lst if i%2==0]

[7744, 7744]