# T-test
* One-sample T-test with Python
The test will tell us whether means of the sample and the population are different
A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

![title](download.png)

In [9]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [10]:
len(ages)

32

In [11]:
#Import Libraries
import numpy as np

In [12]:
ages_mean=np.mean(ages)
ages_mean

30.34375

In [14]:
#Take 10 random samples from the population
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [15]:
age_sample

array([43, 43, 10, 35, 23, 50, 28, 30, 26, 21])

In [17]:
#Comapre the sample mean to the data mean
from scipy.stats import ttest_1samp  # We are mporting 1 sample t-test library from scipy
ttest,p_value=ttest_1samp(age_sample,ages_mean)

In [18]:
ttest

0.14608400375193534

In [19]:
p_value

0.8870747472661942

In [20]:
if p_value < 0.05:
    print("Reject Null hypothesis")
else:
    print("Accept Null hypothesis")

Accept Null hypothesis

More Examples

In [21]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [22]:
classA_ages.mean()

46.9

In [23]:

_,p_value=stats.ttest_1samp(a=classA_ages,popmean=school_ages.mean())

In [24]:
p_value

1.139027071016194e-13

In [26]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

Two-sample T-test With Python
The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

image.png

In [27]:
np.random.seed(12)
ClassB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
ClassB_ages.mean()

50.63333333333333

In [30]:
_,p_val=stats.ttest_ind(a=classA_ages,b=ClassB_ages,equal_var=False)

In [31]:

if p_val < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

Paired T-test With Python
When you want to check how different samples from the same group are, you can go for a paired T-test

In [32]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [33]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [34]:
weight_df

    weight_10  weight_20  weight_change
0          25  30.579265       5.579265
1          30  34.910224       4.910224
2          28  29.004446       1.004446
3          35  30.542951      -4.457049
4          28  19.862020      -8.137980
5          34  37.578732       3.578732
6          26  18.329983      -7.670017
7          29  21.377139      -7.622861
8          30  36.364209       6.364209
9          26  32.059412       6.059412
10         28  26.938280      -1.061720
11         32  29.519014      -2.480986
12         31  26.428512      -4.571488
13         30  30.506678       0.506678
14         45  41.329843      -3.670157

In [35]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [36]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

Anova Test(F-Test)
The t-test works well when dealing with two groups, but sometimes we want to compare more than two groups at the same time.

For example, if we wanted to test whether petal_width age differs based on some categorical variable like species, we have to compare the means of each level or group the variable

One Way F-test(Anova) :-
It tell whether two or more groups are similar or not based on their mean similarity and f-score.

Example : there are 3 different category of iris flowers and their petal width and need to check whether all 3 group are similar or not

In [38]:
import seaborn as sns
df1=sns.load_dataset('iris')

In [39]:
df_anova = df1[['petal_width','species']]

In [40]:
grps = pd.unique(df_anova.species.values)

In [41]:
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [47]:
d_data = {grp:df_anova['petal_width'][df_anova.species == grp] for grp in grps}

In [51]:
d_data

{'setosa': 0     0.2
 1     0.2
 2     0.2
 3     0.2
 4     0.2
 5     0.4
 6     0.3
 7     0.2
 8     0.2
 9     0.1
 10    0.2
 11    0.2
 12    0.1
 13    0.1
 14    0.2
 15    0.4
 16    0.4
 17    0.3
 18    0.3
 19    0.3
 20    0.2
 21    0.4
 22    0.2
 23    0.5
 24    0.2
 25    0.2
 26    0.4
 27    0.2
 28    0.2
 29    0.2
 30    0.2
 31    0.4
 32    0.1
 33    0.2
 34    0.2
 35    0.2
 36    0.2
 37    0.1
 38    0.2
 39    0.2
 40    0.3
 41    0.3
 42    0.2
 43    0.6
 44    0.4
 45    0.3
 46    0.2
 47    0.2
 48    0.2
 49    0.2
 Name: petal_width, dtype: float64,
 'versicolor': 50    1.4
 51    1.5
 52    1.5
 53    1.3
 54    1.5
 55    1.3
 56    1.6
 57    1.0
 58    1.3
 59    1.4
 60    1.0
 61    1.5
 62    1.0
 63    1.4
 64    1.3
 65    1.4
 66    1.5
 67    1.0
 68    1.5
 69    1.1
 70    1.8
 71    1.3
 72    1.5
 73    1.2
 74    1.3
 75    1.4
 76    1.4
 77    1.7
 78    1.5
 79    1.0
 80    1.1
 81    1.0
 82    1.2
 83    1.6
 84    1.5
 85    1.6
 86    1.5
 87    1.3
 88    1.3
 89    1.3
 90    1.2
 91    1.4
 92    1.2
 93    1.0
 94    1.3
 95    1.2
 96    1.3
 97    1.3
 98    1.1
 99    1.3
 Name: petal_width, dtype: float64,
 'virginica': 100    2.5
 101    1.9
 102    2.1
 103    1.8
 104    2.2
 105    2.1
 106    1.7
 107    1.8
 108    1.8
 109    2.5
 110    2.0
 111    1.9
 112    2.1
 113    2.0
 114    2.4
 115    2.3
 116    1.8
 117    2.2
 118    2.3
 119    1.5
 120    2.3
 121    2.0
 122    2.0
 123    1.8
 124    2.1
 125    1.8
 126    1.8
 127    1.8
 128    2.1
 129    1.6
 130    1.9
 131    2.0
 132    2.2
 133    1.5
 134    1.4
 135    2.3
 136    2.4
 137    1.8
 138    1.8
 139    2.1
 140    2.4
 141    2.3
 142    1.9
 143    2.3
 144    2.5
 145    2.3
 146    1.9
 147    2.0
 148    2.3
 149    1.8
 Name: petal_width, dtype: float64}

In [48]:
F, p = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])

In [49]:
print(p)

4.169445839443116e-85

In [50]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis