# Sets
* An unordered collections data type  that is iterable, mutable and has no duplicates

In [1]:
set_var= set()

In [3]:
type(set_var)

set

In [11]:
listt= ["a,b,c"]

In [12]:
set_var={"Avengers","Ironman","hitman"}

In [13]:
set_var

{'Avengers', 'Ironman', 'hitman'}

In [15]:
set_var.add("come")

In [16]:
set_var2={"Avengers","Ironman","hitman","BlackPanther"}

In [17]:
set_var2.difference(set_var)

{'BlackPanther'}

In [18]:
set_var.intersection(set_var2)

{'Avengers', 'Ironman', 'hitman'}

# Dictionaries
* Is a collection which is unordered, changeable and indexed. Have keys and values

In [19]:
dic={}

In [20]:
type(dic)

dict

In [22]:
my_dict= {"car1":"audi","car2":"cat"}

In [24]:
[i for i in my_dict.keys()]

['car1', 'car2']

In [25]:
[i for i in my_dict.values()]

['audi', 'cat']

In [26]:
{i for i in my_dict.keys()}

{'car1', 'car2'}

In [27]:
xx=my_dict.items()   # returns a tuple of key values

In [28]:
xx

dict_items([('car1', 'audi'), ('car2', 'cat')])

In [31]:
my_dict["car1"]

'audi'

In [32]:
my_dict["car1"]="car3"

In [33]:
my_dict

{'car1': 'car3', 'car2': 'cat'}

# Nested Dictionary

In [34]:
car1_model={"Mercedes":1960}
car2_model={"Audi":1970}
car3_model={"Benz":2020}

In [35]:
car_type= {"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [36]:
car_type

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Benz': 2020}}

In [39]:
for i in car_type.keys():
    print(i)

car1
car2
car3

In [46]:
for i in car_type.values():
    print(i.values())

dict_values([1960])
dict_values([1970])
dict_values([2020])

# Tuple
* Are immutable ( cant change elements in a tuple)

In [48]:
my_tuple=tuple()

In [49]:
type(my_tuple)

tuple

In [50]:
tup=(1,2,3,4,5,6,7)

In [51]:
tup

(1, 2, 3, 4, 5, 6, 7)

In [52]:
tup.count(2)

1

In [53]:
tup2=(1,1,33,4,55,33)

In [55]:
tup2.index(1)

0